@charset "UTF-8";

/* CSS Document */

/* Custom Fonts
* --------------------------------------- */
	
@font-face
{
	font-family: 'proxima_novaregular';
	src: url('../fonts/ProximaNova-Reg-webfont.eot');/* IE9 Compat Modes */
	src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */ url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),/* Modern Browsers */ url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),/* Safari, Android, iOS */ url('../fonts/ProximaNova-Reg-webfont.svg#proxima_novaregular') format('svg');/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

/* Apply a natural box layout model to all elements
* --------------------------------------- */

*,
*:before,
*:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body
{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #F9FF06;
	font-size: 62.5%; /*16px down to 10px - 1em is 10px, 0.8em is 8px, 1.6em is 16px*/
	font-family: 'proxima_novaregular';
	color: #000000;
	background-attachment: scroll;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

/* Layout
* --------------------------------------- */

nav
{
	background-color: rgba(247,255,0,1.00);
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	height: auto;/*	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	clear:both;
}

article
{
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	clear: both;
}

/* Prevents the first article from going under the fixed header
* --------------------------------------- */
article:nth-child(1)
{
	margin-top: 13.5%;
}

/* Header for overlay effects
* --------------------------------------- */

article > header
{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	float: left;
	
	opacity: 1;
	transition: opacity 0.5s ease-out; /* vendorless fallback */
	-o-transition: opacity 0.5s ease-out; /* opera */
	-ms-transition: opacity 0.5s ease-out; /* IE 10 betas, not needed in final build. */
	-moz-transition: opacity 0.5s ease-out; /* Firefox */
	-webkit-transition: opacity 0.5s ease-out; /*safari and chrome */
}

article > header:hover
{
	opacity: 0;
	transition: opacity 0.5s ease-in; /* vendorless fallback */
	-o-transition: opacity 0.5s ease-in; /* opera */
	-ms-transition: opacity0.5s ease-in; /* IE 10 betas, not needed in final build. */
	-moz-transition: opacity 0.5s ease-in; /* Firefox */
	-webkit-transition: opacity 0.5s ease-in; /*safari and chrome */
}

img
{
	border: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	float: left;
	display: block;
}


img{
	/* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); /*This is the enlarged size scale of the image.*/
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
	
	}
	
img:hover {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); /*This is the scale for the normal size of the image.*/
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

/* This vertical centers the callout messaging
* --------------------------------------- */

.rotation{height:72%;}

.promos{height:36%;}

.centerMessaging
{
	position: relative;
	top: 35%;
	transform: translateY(-20%);
}

/* Text Styles
* --------------------------------------- */

h1
{
	font-size: 3.2em;
	line-height: 1em;
	color: white;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 6px rgba(0,0,0,1.00);
}

h2
{
	font-size: 1.2em;
	line-height: 1em;
	color: white;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

p
{
	font-size: 1.2em;
	line-height: 1.2em;
	letter-spacing:0.7em;
	color: white;
	letter-spacing: 0.1em;
}

.btn {
	font-size: 1.1em;
	letter-spacing: 0.1em;
	color: white;
	margin: 0 auto 1em auto;
	padding: 0.8em;
	display: inline-block;
	border: none;
	background: none;
	text-transform: uppercase;
	text-decoration: none;
	text-align:center;
	width:
}

.btn:hover {
  background: #ff1149;
}


/* CTA styles
* --------------------------------------- */

.r1_cta1
{
	background-color: #000000;
}

.r2_cta1
{
	background-color: #e5211f;
}

.r2_cta2
{
	background-color: #451f09;
}

